/Lab6/Hello/nbproject/private/
/Lab6/cods-lab6/01_TIncrementoBase/nbproject/private/
/Lab6/cods-lab6/HelloThread/nbproject/private/
/Lab6/cods-lab6/01_ HelloThread/nbproject/private/
/Lab6/cods-lab6/01_ HelloThread/build/
/Lab6/cods-lab6/02_OlaThreads/nbproject/private/
/Lab6/cods-lab6/02_OlaThreads/build/
/Lab6/cods-lab6/02_TIncrementoBase/nbproject/private/
/Lab6/cods-lab6/01_TIncrementoBase/build/
/Lab6/cods-lab6/02_TIncrementoBase/build/
/Lab6/Lab6/nbproject/private/
/Lab6/Lab6/build/